# Compus Beats

# Coded by Sam Aaron

use_sample_bpm :{{samples_bpm[0]}}, num_beats: {{repeat_small_ints[0]}}

live_loop :loopr do
  sample :{{samples_bpm[0]}}, rate: [0.5, 1, 1, 1, 1, 2].choose unless one_in(10)
  sleep {{sleep_values[0]}}
end

live_loop :bass do
  sample :{{sample_values[0]}}, amp: rrand(0.1, 0.2), rate: [0.5, 0.5, 1, 1,2,4].choose if one_in(4)
  use_synth :{{synth_values[0]}}
  use_synth_defaults mod_invert_wave: 1
  play :{{note_values[0]}}, mod_range: 12, amp: rrand(0.5, 1), mod_phase: [0.25, 0.5, 1].choose, release: {{release_values[(1)% release_values|length]}}, cutoff: rrand(50, 90)
  play :{{note_values[(1) % note_values|length]}}, mod_range: [24, 36, 34].choose, amp: {{amp_values[0]}}, mod_phase: 0.25, release: {{release_values[0]}}, cutoff: {{repeat_large_ints[0]}}, pulse_width: rand
  sleep {{sleep_values[(1)% sleep_values|length]}}
end

 
