# Reich Phase

# Steve Reich's Piano Phase
# See: https://en.wikipedia.org/wiki/Piano_Phase

notes = (ring :{{note_values[(0) % note_values|length]}}, :{{note_values[(1) % note_values|length]}}, :{{note_values[(2) % note_values|length]}}, :{{note_values[(3) % note_values|length]}}, :{{note_values[(4) % note_values|length]}}, :{{note_values[(5) % note_values|length]}}, :{{note_values[(6) % note_values|length]}}, :{{note_values[(7) % note_values|length]}}, :{{note_values[(8) % note_values|length]}}, :{{note_values[(9) % note_values|length]}}, :{{note_values[(10) % note_values|length]}}, :{{note_values[(11) % note_values|length]}})

live_loop :slow do
  play notes.tick, release: {{release_values[(0) % release_values|length]}}
  sleep {{sleep_values[(1) % sleep_values|length]}}
end

live_loop :faster do
  play notes.tick, release: {{release_values[(1) % release_values|length]}}
  sleep {{sleep_values[(0) % sleep_values|length]}}
end

 
