# Time Machine

# Coded by Sam Aaron

use_debug false

live_loop :time do
  synth :{{synth_values[0]}}, release: {{release_values[0]}}, note: :{{note_values[0]}}, cutoff: (range 90, 60, -10).tick
  sleep {{sleep_values[(0) % sleep_values|length]}}
end

live_loop :machine do
  sample :{{sample_values[0]}}, rate: (knit 1, 3, -1, 1).tick
  sleep {{sleep_values[(1) % sleep_values|length]}}
end

live_loop :vortex, auto_cue: false do
  use_synth [:{{synth_values[(1) % synth_values|length]}}, :{{synth_values[(2) % synth_values|length]}}].choose
  sleep {{sleep_values[(2) % sleep_values|length]}}
  play scale(:{{note_values[(1) % note_values|length]}}, :{{character_values[0]}}_pentatonic).tick, attack: {{attack_values[0]}}, release: {{release_values[0]}}, amp: {{amp_values[0]}}, cutoff: (ring 70, 90, 100, 130).look
  sleep {{sleep_values[(3) % sleep_values|length]}}
end

live_loop :moon_bass, auto_cue: false do
  sample :{{sample_values[(1) % sample_values|length]}}, amp: {{amp_values[(1) % amp_values|length]}}
  sleep {{sleep_values[(4) % sleep_values|length]}}
end

 
